.App {
  text-align: left;
}



.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.All-tasks {
  background-color: antiquewhite;
  width:60vw;
  margin:auto;
  padding:2%;
}

.Task-list {
  display:flex;
}






/* ------------------------------ Display Tasks ----------------------------- */

.task {
  display:flex;
}

.task-name {
  width:70%;
}

.priority {
  width:30%;
}

.p1 {
  background-color: lightcoral;
}

.p2 {
  background-color: lightsalmon;
}




