@import 'variables';
/* --------------------------------- mixins --------------------------------- */

@mixin form-element {
  border:none;
  padding: 5px;
  border-radius:5px;
  margin:2px;

}
/* ---------------------------------- Form ---------------------------------- */
* {
  font-family: $primary-font;
}


select {
  @include form-element;
  cursor:pointer;
}

input {
  @include form-element;
}
/* ------------------------------------ - ----------------------------------- */

.Form {
  background-color: $bg-color;
  padding:2%;
  display:flex;
}
  
.form-item {
  margin:1%;
}


.form-btn {
  @include form-element;
  cursor:pointer;
  background-color: $primary-color;
  color:white;
  transition:1s;

  &:hover {
    background-color:$accent-color;
  }
}

.name-input {
  border:none;
}