/* -------------------------------------------------------------------------- */
/*                                  variables                                 */
/* -------------------------------------------------------------------------- */

/* --------------------------------- colors --------------------------------- */
$primary-color: #636e9b;
$dark-color: #22273b;
$light-color: #cee2ff;
$accent-color: #3887d6;
$bg-color: #d6e4f8;

/* ---------------------------------- fonts --------------------------------- */
$primary-font: Verdana, Geneva, Tahoma, sans-serif;