


.App {
  text-align: left;
}



.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.All-tasks {
  background-color: antiquewhite;
  width:60vw;
  margin:auto;
  padding:2%;
}








/* ------------------------------ Display Tasks ----------------------------- */

.display-task-list {
  border: 1px solid black;
  width:100%;
}


/* -------------------------------- task form ------------------------------- */

.task-form {
  background-color: antiquewhite;
  padding:2%
}

.checkbox-div {
  width:10%;
}

.task-name {
  width:50%;
}

.task-priority {
  width:10%;
}

.placeholder {
  color:grey;
}







.p1 {
  background-color: lightcoral;
}

.p2 {
  background-color: lightsalmon;
}




