@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Reem+Kufi+Fun:wght@500&display=swap');


/* -------------------------------- variables ------------------------------- */

// fonts 
$primary-font: 'Montserrat', sans-serif;
$header-font: 'Reem Kufi Fun', sans-serif;

// colors 
$primary-color: #3e6b5a;
$secondary-color: #bad2cb;
$dark-color: #28342c;
$off-white: #eff8e8;
$accent-color: #5161a6;

/* -------------------------------------------------------------------------- */
/*                                   mixins                                   */
/* -------------------------------------------------------------------------- */

@mixin button {
  cursor: pointer;
  background-color: $primary-color;
  color: white;
  border-style: none;
  padding:5px;

  &:hover {
    background-color: $accent-color;
  }
}
/* ------------------------------ html defaults ----------------------------- */

* {
    font-family: $primary-font;
    transition:0.5s;
}


h1 {
    font-family: $header-font;
}

main {
    background-color: $secondary-color;
    padding:2%;
}


th {
    font-family: $header-font;
    color: $dark-color;
}

button {
  @include button;
}


/* ----------------------------- general classes ---------------------------- */

.button {
  @include button;
}

/* ------------------------------------ - ----------------------------------- */

.App {
    text-align: left;
  }
  
  
  
  .App-header {
    background-color: $dark-color;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  
  .All-tasks {
    background-color: $off-white;
    width:60vw;
    margin:auto;
    padding:2%;
  }

  
  
  /* ------------------------------ Display Tasks ----------------------------- */
  
  .display-task-list {
    border: 1px solid black;
    width:100%;
    padding:2%;
    background-color:$off-white;
  }
  
  
  /* -------------------------------- task form ------------------------------- */
  
  .task-form {
    background-color: $off-white;
    padding:2%
  }

  .form-item {
    margin:1%;
  }
  
  .checkbox-div {
    width:10%;
  }
  
  .task-name {
    width:50%;
  }
  
  .task-priority {
    width:10%;
  }

  .task-deadline {
    width:10%;
  }
  
  .placeholder {
    color:grey;
  }


  /* -------------------------------- calendar -------------------------------- */
  
  .calendar-month {
    padding:3%;
    margin:2%;
    background-color: $secondary-color;
    width:fit-content;
  }



  // each cell in the calendar 
  .calendar-date {
    padding:3px;
    cursor:pointer;

    &:hover {
      background-color:$accent-color;
      color:white;
    }

    &.current {
      background-color: $accent-color;
      color:white;
    }
  }

  
  
  /* --------------------------------- e hower -------------------------------- */

  .e-hower {
    width:20vw;
    height: 20vw;
    background-color: black;

  }
  
  
  
  
  
  
  
  
  